<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drgreenthumb">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".favoritesList"
            android:parentActivityName=".homePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.homePage" /></activity>
        <activity
            android:name=".webView"
            android:parentActivityName=".homePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.homePage" />
        </activity>
        <activity
            android:name=".loginPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homePage" />
        <activity
            android:name=".newsletters"
            android:parentActivityName=".utilitiesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.utilitiesPage" />
        </activity>
        <activity
            android:name=".personalization"
            android:parentActivityName=".utilitiesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.utilitiesPage" />
        </activity>
        <activity
            android:name=".interests"
            android:parentActivityName=".utilitiesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.utilitiesPage" />
        </activity>
        <activity
            android:name=".editAccountInfo"
            android:parentActivityName=".settingsPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.settingsPage" />
        </activity>
        <activity
            android:name=".appColor"
            android:parentActivityName=".settingsPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.settingsPage" />
        </activity>
        <activity
            android:name=".wateringSchedule"
            android:parentActivityName=".utilitiesPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.utilitiesPage" />
        </activity>
        <activity
            android:name=".settingsPage"
            android:parentActivityName=".homePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.homePage" />
        </activity>
        <activity
            android:name=".plantInfoPage"
            android:parentActivityName=".homePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.homePage" />
        </activity>
        <activity
            android:name=".utilitiesPage"
            android:parentActivityName=".homePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.homePage" />
        </activity>
        <activity
            android:name=".plantSearchPage"
            android:parentActivityName=".homePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drgreenthumb.homePage" />
        </activity>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.drgreenthumb.alarms" />
            </intent-filter>
        </receiver>
    </application>

</manifest>